*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

header {
    background-color: #f8f9fa;
}

header div {
    height: 435px;
    width: 100%;
    background-image: url(IMG/Persona\ 5\ Heart\ GIF.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -175px;
}

header nav {
    display: flex;
    justify-content: baseline;
    width: 30%;
    
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: underline;
}

/* artigo 1 */

#article1 {
    width: 100%;
    background-color: #d92323;
    clip-path: polygon(0% 12%, 92% 0%, 100% 85%, 8% 100%);
    grid-column: 1 / 3;
    grid-row: 1;
}

#article1 .caixaTitulo {
    background-color: #732424;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    float: left;
    width: 100%;
    height: 50px;
}

#article1 h1 {
    color: #0d0d0d;
    font-size: 34px;
    float: left;
    margin-right: 50px;
    font-family: 'calling card', sans-serif;
}

#article1 h2 {
    color: #fff;
    font-size: 20px;
    height: 30px;
    padding-left: -10px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-family: "text base", sans-serif;
    width: 100%;
}

#article1 p {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    margin-left: -153px;
    align-self: center;
    float: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caixaTexto {
    width: 55%;
    background-color: #0d0d0d;
    padding: 10px;
    display:  flex;
    justify-content: center;
    float: left;
    height: 200px;
    margin-top: -10px;
    border-radius: 10px;
}

#article1 img {
    height: 220px;
    width: auto;
    float: left;
    display: flex;
    margin: 10px;
    margin-top: -10px;
}

.botao {
    color: #fff;
    border: 1px solid #7b7b7b;
    padding: 10px 13px;
    align-self: flex-end;
    cursor: pointer;
    margin: 10px;
    width: 160px;
    height: 40px;
    text-decoration: none;
}

.botao a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/*artigos no geral  */

.articles {
    display: flex;
    flex-wrap: wrap;    
    grid-row: 2;
    margin-left: 10px;
}

aside {
    background-color: #25cb38;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    grid-column: 3;
    grid-row: 1 / 3;
    margin-top: 10px;
    right: 0;
}

/* artigo 2 */

.tv {
    position: relative;
    width: 600px;
    align-items: center;
    justify-items: center;
}

.imagemTV {
    width: 550px;
    height: 350px;
    display: block;
    position: absolute;
    z-index: 2;
}

.tela {
    position: absolute;
    top: 27%;
    left: 3%;
    width: 72%;
    height: 45%;
    overflow: hidden;
    border-radius: 4% 5% 6% 4%;
    z-index: 1;
    color: #0d0d0d;
    background-color: #7b7b7b;
}

#article2 {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    color: white;  
    width: 100%;
    height: 300px;
    background-color: #0d0d0d;
}

/* artigo 3 */

#article3 {    
    width: 100%;
    height: 300px;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 25px;
    background-color: #c3c4c5;
    
    text-align: center;
    margin-top: 20px;
    float: left;
}

@font-face {
  font-family: 'Calling Card';
  src: url('fonts/EarwigFactory-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'text base';
  src: url('fonts/p5hatty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
